import importlib
import sys

from loguru import logger as log

__version__ = importlib.metadata.version("{{ module_name }}")

log.disable("{{ module_name }}")

def log_enable(
    level: str = "INFO", mod: str = "{{ module_name }}", remove_handlers: bool = True
) -> None:
    """Enable logging for a given module at specific level, by default it operates on the whole module."""
    if remove_handlers:
        log.remove()
    log.enable(mod)
    log.add(sys.stderr, level=level)


def log_enable_debug() -> None:
    """Enable debug logging for a given module, by default it operates on the whole module."""
    log_enable(level="DEBUG")


def log_disable(mod: str = "{{ module_name }}") -> None:
    """Totally disable logging from this module, by default it operates on the whole module."""
    log.disable(mod)