def test_import_package():
    """Verify we can import the main package"""
    import {{ module_name }}

def test_has_version():
    """Check that the package has an accesible __version__"""
    import {{ module_name }}
    version = {{ module_name }}.__version__